<div class="container main">

    <div class="title-content">

        <h2 class='title text-uppercase'>portoflio component</h2>

        <div class="d-flex justify-content-center align-items-center gap-4 mt-2">
            <div class="line"></div>
            <i class="fa-solid fa-star fa-xs"></i>
            <div class="line"></div>
        </div>

    </div>

    <div class="container">
            <div class="row g-5 mt-1 mb-5">
                <!-- upper-row -->
                <div onClick=""  class="col-md-6 col-lg-4">
                    <div class="card card-image rounded-3 position-relative">
                        <img src="assets/house.png" class="w-100 rounded-3 " alt="image of an house">
                        <div class="overlayer rounded-3 d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card card-image rounded-3 position-relative">
                        <img src="assets/cake.png" class="w-100 rounded-3 " alt="image of an cake">
                        <div class="overlayer rounded-3 d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card card-image rounded-3 position-relative">
                        <img src="assets/circus.png" class="w-100 rounded-3 " alt="image of an cake">
                        <div class="overlayer rounded-3 d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>

                <!-- lower-row -->
                <div class="col-md-6 col-lg-4">
                    <div class="card card-image rounded-3 position-relative">
                        <img src="assets/house.png" class="w-100 rounded-3 " alt="image of an house">
                        <div class="overlayer rounded-3 d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card card-image rounded-3 position-relative">
                        <img src="assets/cake.png" class="w-100 rounded-3 " alt="image of an cake">
                        <div class="overlayer rounded-3 d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="card card-image rounded-3 position-relative">
                        <img src="assets/circus.png" class="w-100 rounded-3 " alt="image of an cake">
                        <div class="overlayer rounded-3 d-flex justify-content-center align-items-center">
                            <i class="text-white fa-solid fa-plus fa-6x"></i>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>