<div class="container-fluid content-about">
  <div class="row content-inner">
    <h2 class='title'>about component</h2>

    <div class="d-flex justify-content-center align-items-center gap-4 mt-3">
        <div class="line"></div>
        <i class="fa-solid fa-star text-light"></i>
        <div class="line"></div>
    </div>

      <div class="content d-flex justify-content-center align-items-center gap-2 mt-3 text-light">

        <p>
          Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </p>

        <p>
          Freelancer is a free bootstrap theme created by Route. The download includes the complete source files including HTML, CSS, and JavaScript as well as optional SASS stylesheets for easy customization.
        </p>

      </div>

  </div>
 
</div>