<div class="title-content">

    <h2 class='title text-uppercase'>contact section</h2>

    <div class="d-flex justify-content-center align-items-center gap-4 mt-2">
        <div class="line"></div>
        <i class="fa-solid fa-star fa-xs"></i>
        <div class="line"></div>
    </div>

</div>

<form class="w-50 p-3 mx-auto mt-5">
    <label for="userName" class="labels">userName</label>
    <input type="text" id="userName" class="inputs form-control">

    <label for="userAge" class="labels">userAge</label>
    <input type="text" id="userAge" class="inputs form-control">

    <label for="userEmail" class="labels">userEmail</label>
    <input type="text" id="userEmail" class="inputs form-control">

    <label for="userPassword" class="labels">userPassword</label>
    <input type="text" id="userPassword" class="inputs form-control">

    <button class="btn-msg">send message</button>

</form>