<nav
  class="navbar navbar-expand-sm nav-bg"
>
  <div class="container ">
    <a class="navbar-brand fs-1 text-uppercase fw-bold text-light " href="#">start framework</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0 gap-4">
        <li class="nav-item">
          <a class="nav-link text-uppercase fw-bold text-light" routerLink="/about" aria-current="page router" routerLinkActive="active"
            >about
            </a
          >
        </li>
        <li class="nav-item">
            <a class="nav-link text-uppercase fw-bold text-light" routerLink="/portoflio" aria-current="page" routerLinkActive="active"
              >portfolio
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-uppercase fw-bold text-light" routerLink="/contact" aria-current="page" routerLinkActive="active"
              >contact
              </a
            >
          </li>
      </ul>
    </div>
  </div>
</nav>
