
<footer>
    <div class="container-fluid footer-bg p-0 d-flex flex-column justify-content-between footer-whole">
        <div class="footer-socials d-flex justify-content-center align-items-center h-75">
            <div class="social-cards">
                <h3 class='fw-medium text-light fs-3 text-uppercase'>location</h3>
                <span class='text-white mb-3'>2215 John Daniel Drive</span>
                <span class='text-white'>Clark, MO 65243</span>
            </div>
            <div class="social-cards">
                <h3 class='fw-medium text-light fs-3 text-uppercase'>around the web</h3>
                <ul class="social-icons list-unstyled text-light d-flex justify-content-center gap-2">
                    <li class="icons">
                        <i class="fa-brands fa-facebook fa-lg"></i>
                    </li>
                    <li class="icons">
                        <i class="fa-brands fa-twitter fa-lg"></i>
                    </li>
                    <li class="icons">
                        <i class="fa-brands fa-linkedin-in fa-lg"></i>
                    </li>
                    <li class="icons">
                        <i class="fa-solid fa-globe fa-lg"></i>
                    </li>
                </ul>
            </div>
            <div class="social-cards">
                <h3 class='fw-medium text-light fs-3 text-uppercase'>ABOUT FREELANCER</h3>
                <span class='text-white mb-3'>Freelance is a free to use, licensed Bootstrap theme created by Route</span>
            </div>

        </div>

        <div class="footer-socials d-flex justify-content-center align-items-center h-25 bg-bottom">
            <span class="text-white">Copyright © Your Website 2021</span>
        </div>
    </div>
</footer>