.footer-bg{
    background-color: #2c3e50;
    height:47vh;

}


.social-cards{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    width: 40%;
    padding: 1.25rem;
}

.card-icon{
    border:white 1px solid;
   
}

.icons{
    border:white 1px solid;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-bottom{
    background-color: #1a252f;
}